.nav 
{background: #800080; 
}
.navbar-brand 
{font-family: "Lucida Handwriting", cursive;
    font-size: 26px;
    border: solid white;
}

.nav-item
{font-size: 18px; font-weight: bold;
 font-family: "Lucida Handwriting", cursive;
}

h3, h5
{font-family: "Lucida Handwriting", cursive;
    font-size: 18px;
    color: white;
    font-weight: 600;
}

.summary-text, .project-text
{font-family:Georgia, 'Times New Roman', Times, serif, Times, serif ;
    font-size: 14px;
    font-weight:600;
}

.project
{border: solid white;
    border-radius: 50px;
    background-color: #35415f;
    width: 45%;    
    /* text-align: center;
    align-items: center; */
}

.card-body
{text-align: center;
    align-items: center;
    justify-content: center;
}
a
{text-decoration: none;
}